
<div class="right">
<label class="switch button" for="menu_{{ entry.item_id }}">!</label>
</div>
<input class="menu_switch item" type="checkbox" id="menu_{{ entry.item_id }}">

<div class="buttonbox item bottom">

    <form method="post" class="button">
        <input type="hidden" name="item_id" value="{{ entry.item_id }}"/>
        <input type="hidden" name="action" value="{% if entry.marked == 1 %}un{% endif %}mark"/>
        <button type="submit">{% if entry.marked == 1 %}un{% endif %}mark</button>
    </form>

    {# pagination is only setted on the feed #}
    {% if not pagination %}
        <form method="post" action="/page/{{ session.page }}/" class="button">
            <input type="hidden" name="item_id" value="{{ entry.item_id }}"/>
            <input type="hidden" name="action" value="{% if entry.marked == 1 %}un{% endif %}mark"/>
            <button type="submit">{% if entry.marked == 1 %}un{% endif %}mark&close</button>
        </form>
    {% endif %}

    <form method="post" class="button">
        <input type="hidden" name="item_id" value="{{ entry.item_id }}"/>
        <input type="hidden" name="action" value="{% if entry.read == 1 %}un{% endif %}read"/>
        <button type="submit">{% if entry.read == 1 %}un{% endif %}read</button>
    </form>

    {# pagination is only setted on the feed #}
    {% if not pagination %}
        <form method="post" action="/page/{{ session.page }}/" class="button">
            <input type="hidden" name="item_id" value="{{ entry.item_id }}"/>
            <input type="hidden" name="action" value="{% if entry.read == 1 %}un{% endif %}read"/>
            <button type="submit">{% if entry.read == 1 %}un{% endif %}read&close</button>
        </form>
    {% endif %}

</div>