{% extends "main.html" %}


{% block nav %}


    <div class="center">
        <span class="button">
            <a href="/page/{{ session.page }}/">✖</a>
        </span>
    </div>

    {% include 'actions.html' %}

{% endblock %}



{% block main %}
    <div class="item">
    
        <div id="item_content">
            <h2><a href="{{ entry.source }}">{{ entry.title }}</a></h2>

            <div class="date">{{ entry.date|datetime }} - {{ entry.node_title }}</div>

            {{ entry.description|iframes|safe }}
        </div>

    </div>
{% endblock %}






