{% extends "main.html" %}


{% block nav %}


    <div class="center">
        <span class="button">
            <a href="/page/{{ session.page }}/">✖</a>
        </span>
    </div>

    {% include 'actions.html' %}

{% endblock %}



{% block main %}
    <div class="item_content">
        <h2><a target="_blank" href="{{ entry.source }}">{{ entry.title }}</a></h2>

        <div class="date">{{ entry.date|datetime }} - {{ entry.node_title }}</div>

        {{ entry.description|safe }}
    </div>
{% endblock %}






