{% extends "main.html" %}

{% block nav_center %}

    <span class="button">
        {% if pagination.has_prev %}
        <a href="{{pagination.prev_link}}">&laquo;</a>
        {% else %}
        <p class="disabled">&laquo;</p>
        {% endif %}
    </span>

    <span class="button">
        <a href="/page/{{ pagination.page }}/">{{ pagination.page }}</a>
    </span>

    <span class="button">
        {% if pagination.has_next %}
        <a href="{{pagination.next_link}}">&raquo;</a>
        {% else %}
        <p class="disabled">&raquo;</p>
        {% endif %}
    </span>

{% endblock %}


{% block main %}

    {# {% for item in iterable|sort(attribute='date') %} #}
    {% for entry in entries %}
        {% if not entry.text %}
            <section class="item {% if entry.read == 1 %}read{% endif %} {% if entry.marked == 1 %}marked{% endif %}">
                <div class="text" onclick="location.href='/item/{{ entry.item_id }}/';" style="cursor: pointer;">
                    <div class="item_title"><a href="/item/{{ entry.item_id }}/">{{ entry.title }}</a></div>
                    <div class="wordcount">{{ ((entry.description|wordcount / wpm )|round(0,"ceil"))|int }} Minutes - {{
                        entry.node_title }}
                    </div>
                </div>

                {% include 'actions.html' %}

            </section>
        {% else %}
            <section class="separator">
                <div class="text">{{ entry.text }}</div>
            </section>
        {% endif %}
    {% else %}
        <section><em>No entries found...</em></section>
    {% endfor %}

{% endblock %}
