{% extends "base.html" %}

{% block content %}

    {% for entry in entries %}
        {% if not entry.text %}
            <div class="w3-card w3-container w3-display-container feed-item w3-margin-bottom theme-surface">
                <a href="/item/{{ entry.item_id }}/">
                    <div><b>{{ entry.title }}</b></div>
                    <div class="w3-small">

                        {% if entry.read != 1 %}
                        <span class="w3-tag theme-primary w3-hide pause-tag" data-id="{{ entry.item_id }}"><i
                                class="fa fa-pause" aria-hidden="true" title="Paused"></i></span>
                        {% endif %}

                        {% if entry.read == 1 %}
                        <span class="w3-tag"><i class="fa fa-check" aria-hidden="true" title="Read"></i></span>
                        {% endif %}
                        {% if entry.marked == 1 %}
                        <span class="w3-tag"><i class="fa fa-flag" aria-hidden="true" title="Marked"></i></span>
                        {% endif %}
                        {% if ((entry.description|wordcount / wpm )|round(0,"ceil"))|int > 1 %}
                        <span class="w3-tag">{{ ((entry.description|wordcount / wpm )|round(0,"ceil"))|int }} Minutes</span>
                        {% endif %}
                        <span class="">{{ entry.node_title }}</span>
                    </div>
                </a>

                <label class="w3-button- w3-container">
                    <input name="ids" value="{{ entry.item_id }}" class="w3-check item-checkbox" type="checkbox">
                </label>
            </div>

        {% else %}
            {# date separator #}
            <p class="w3-opacity w3-center"><b>{{ entry.text }}</b></p>
        {% endif %}

    {% else %}

        <div class="w3-panel w3-card-4 theme-secondary">
            <p><i class="fa fa-exclamation" aria-hidden="true"></i> No entries found</p>
        </div>

    {% endfor %}

{% endblock %}