{% extends "base.html" %}
{% block body %}
    <header>
    </header>

    <aside>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message|safe }}</div>
        {% endfor %}
    </aside>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% if statistics %}
        <div class="infobar">{{ statistics.read }} / {{ statistics.total }} unread items | last sync: {{ statistics.last_sync }}</div>
        {% endif %}

        <nav>

            <div class="left">
                <label class="button" for="menu_main">&#9776;</label>

                {% block nav_left %}{% endblock %}

            </div>
            <input class="menu_switch main" type="checkbox" id="menu_main">

            <div class="center">
                {% block nav_center %}{% endblock %}
            </div>

            <div class="right">
                {% block nav_right %}{% endblock %}
            </div>

            {% block nav %}{% endblock %}

            <div class="buttonbox main bottom">

                <span class="button">
                    <a href="/">Home</a>
                </span>

                {% if not session.show_read %}
                    <form method="post">
                        <input type="hidden" name="action" value="settings"/>
                        <input type="hidden" name="show_read" value="1"/>
                        <button type="submit">ShowRead</button>
                    </form>
                {% else %}
                    <form method="post">
                        <input type="hidden" name="action" value="settings"/>
                        <input type="hidden" name="hide_read" value="1"/>
                        <button type="submit">HideRead</button>
                    </form>
                {% endif %}

                <span class="button">
                    <a href="javascript:void(0)" onclick="localStorage.clear();">ClearLocalStorage</a>
                </span>

                <form method="post" action="{{ url_for('auth.logout') }}">
                    <button type="submit">Log out</button>
                </form>

            </div>

        </nav>

    </footer>

{% endblock %}
